<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Autor: Ángel López" content="Página donde el usuario registrado puede iniciar el proceso de recuperación de contraseña">
    <title>Recuperar contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/stylesrecov.css">
</head>
<body>


    <div class="container col-md-6 mx-auto mt-5">
        <div class="title">
            <h1>Recuperar contraseña</h1>
        </div>
        <div class="form">
            <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
            <form method="post">
                <input type="email" name="email" placeholder="Correo electrónico" required class="mb-3">
                <button type="submit" onclick="location.href='./provisionalThanks.html'">Enviar</button>
                <button type="submit" onclick="location.href='./inicioSesionRegistro.html'">Volver</button>
            </form>
        </div>
    </div>

    <footer class="footer-personalizado">
      <hr class="linea-personalizada">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p>Síguenos en nuestras redes sociales:</p>
            <a href="#" target="_blank"><img src="../assets/img/mail.svg" style="width: 40px; margin: 5px;"></a>
            <a href="#" target="_blank"><img src="../assets/img/insta.svg" style="width: 40px; margin: 5px;"></a>
            <a href="#" target="_blank"><img src="../assets/img/wa.svg" style="width: 40px; margin: 5px;"></a>
          </div>
          <div class="col-4">
            <!-- Espacio vacío -->
          </div>
          <div class="col-4">
            <p>¿Tienes alguna pregunta o sugerencia?</p>
            <a href="../views/contact.html">Contáctanos aquí</a>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>