<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página provisional de agradecimiento</title>
</head>
<body>
    <h1>Página provisional</h1>
    <p>
        Esta página se creo con el sentido de poder probar los botones y en lugar del back
        puesto que todavía no podemos procesar los datos ingresados y el motivo de esta entrega
        solo se trabaja con front
    </p>

    <a href="../index.html">Volver al index</a>
</body>
</html>