<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agregar Reseña </title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Agregar Reseña</h1>
    
    
    <form>
        
        <div class="form-group">
            <label for="reseña">Reseña:</label>
            <textarea class="form-control" id="reseña" rows="4" placeholder="Escribe tu reseña aquí"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Reseña</button>
    </form>

    
    
</div>



</body>
</html>
