/* Estilos personalizados */
.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Cambios aquí */
  .card-img-top {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto;
  }
  /* Fin de cambios */
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav-link {
    font-weight: bold;
  }
  
  .nav-link img {
    margin-right: 10px;
  }

  .footer-personalizado {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
  }
  
  .linea-personalizada {
    border: 3px solid #730A23;
  }

  .container button {
    background-color: #730A23;
  }
  