/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .logo {
    text-align: center;
    margin-top: 20px;
  }
  
  .logo img {
    width: 200px;
  }
  
  .contacto, .formulario {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p, ul, li {
    font-size: 18px;
  }
  
  ul {
    list-style: none;
  }
  
  /* Estilos para el formulario */
  label {
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 600px) {
    
    .contacto, .formulario {
      width: 100%;
      margin-bottom: 20px;
      border: none;
      border-radius: none;
      box-shadow: none;
      
      /* Usar flexbox para ordenar los elementos */
      display: flex;
      flex-direction: column;
      align-items: center;
      
      /* Centrar el contenido */
      text-align: center;
      
      /* Ajustar el tamaño de los elementos del formulario */
      input, textarea {
        width: 80%;
      }
      
      input[type="submit"] {
        width: auto;
        margin-left: auto;
        margin-right: auto;
      }
      
  }

  .footer-personalizado {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
  }
  
  .linea-personalizada {
    border: 3px solid #730A23;
  }
  