/* Estilos para la página de reseñas */

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}

/* Estilos para el título */
.title {
    text-align: center;
}

/* Estilos para el formulario */
.form {
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilos para el párrafo del formulario */
.form p {
    margin-bottom: 10px;
}

/* Estilos para el campo de texto del formulario */
.form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* evita que se pueda cambiar el tamaño del campo de texto */
}

/* Estilos para el botón del formulario */
.form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

/* Estilos para el campo de calificación con estrellas */
.rating {
    display: flex; /
    justify-content: center; 
    align-items: center; 
}

/* Estilos para los radio buttons del rating */
.rating input {
    display: none; /* oculta los radio buttons */
}

/* Estilos para las etiquetas de los radio buttons */
.rating label {
    font-size: 40px; /* define el tamaño de las estrellas */
    color: rgb(238, 255, 0); /* define el color inicial de las estrellas */
}

/* Estilos para las etiquetas de los radio buttons cuando están seleccionados o preceden a uno seleccionado */
.rating input:checked ~ label,
.rating label:hover ~ label {
    color: rgba(75, 75, 75, 0.767); /* define el color de las estrellas seleccionadas o con hover */
}

/* Estilos para las etiquetas de los radio buttons cuando tienen el cursor encima o preceden a uno con hover */
.rating input:hover ~ label,
.rating label:hover ~ label {
    color: #ff0; /* define el color de las estrellas con hover o que preceden a una con hover */
}

.footer-personalizado {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
  }
  
  .linea-personalizada {
    border: 3px solid #730A23;
  }
  